<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/todolist/save}" th:object="${todolist}"
		    method="POST" >
		    <input type="hidden" th:field="*{id}" />
		    <div class="form-group">
		        <label>Note</label> 
		        <input type="text" class="form-control"
		            th:field="*{ghi_chu}" />   
		    </div>
		   
		    <div class="form-group">
		        <label>Date</label> 
		        <input type="text" class="form-control" th:field="*{ngay_thang}" />
		    </div>
		    
		      <div class="form-group">
		        <label>Content</label> 
		        <input type="text" class="form-control" th:field="*{noi_dung}" />
		    </div>
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>